@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body::-webkit-scrollbar {
    width: 0.7vw;
  }
body::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #373737;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #292929;
}
body::-webkit-scrollbar-track {
    background-color: #191919;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #191919;
    align-items: center;
    width: 100%;
}

.header{
    position: relative;
    width: 100%;
}

.header .nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 20px 46px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.header .nav .logo img{
    width: 125px;
    height: 40px;
}
.header .nav .right{
    display: flex;
    gap: 32px;
    align-items: center;
}
.header .nav .right .language{
    width: 28px;
    height: 28px;
}
.header .nav .right button{
    background-color: #292929;
    padding: 15.83px 14.67px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: 0;
}
.header .nav .right .menu{
    height: 16px;
    width: 19px;
}

.header .slides{
    height: 720px;
    width: 100%;
    display: flex;
}
.header .slides .slide_item{
    width: 100%;
    position: relative;
}
.header .slides .slide_item::after{
    content: "";
    width: 100%;
    height: 720px;
    background: linear-gradient(180deg, rgba(25, 25, 25, 0) 52.85%, #191919 100%);
    position: absolute;
    top: 0;
    left: 0;
}
.header .slides .slide_item>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.header .slides .slide_item .information{
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    bottom: 50px;
    left: 48px;
    color: #D9D9D9;
    z-index: 5;
}
.header .slides .slide_item .information .title{
    font-family: "Big Shoulders Stencil", sans-serif;
    font-weight: 700;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
}
.header .slides .slide_item .information .text{
    display: flex;
    gap: 12px;
}
.header .slides .slide_item .information .text p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;    
    max-width: 347px;
}
.header .slides .slide_item .information .text button{
    background-color: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 14.5px 28px;
    transform: skew(-15deg);
    transition: .2s;
    cursor: pointer;
}
.header .slides .slide_item .information .text button:hover{
    background-color: #D9D9D9;
}
.header .slides .slide_item .information .text button:hover p{
    color: #191919;
}
.header .slides .slide_item .information .text button p{
    transform: skew(15deg);
    color: #D9D9D9;
    font-size: 16px;
    transition: .2s;
    font-weight: 500;
}

.header .slides .slide_item .information .slide_dots{
    display: flex;
    gap: 10px;
}
.header .slides .slide_item .information .slide_dots .dot{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}
.header .slides .slide_item .information .slide_dots .active{
    background-color: #D9D9D9;
    position: relative;
    cursor: default;
}
.header .slides .slide_item .information .slide_dots .active::after{
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header .slides .slide_item .fixed_text_wrapper{
    position: absolute;
    bottom: 50px;
    right: 48px;
}
.header .slides .slide_item .fixed_text{
    position: relative;
    width: 382px;
    height: 150px;
    background-image: url("./images/Mask group.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 5;
}
.header .slides .slide_item .fixed_text_shadow{
    width: 240px;
    height: 210px;
    position: absolute;
    top: -45px;
    left: 91px;
    background-image: url("./images/reserve_button_shadow.svg");
    background-size: 100%;
    background-position: center;
    z-index: 3;
}
.header .slides .slide_item .fixed_text img{
    width: 87px;
    height: 87px;
    transform: translate(-17px,-31px);
}
.header .slides .slide_item .fixed_text .phone_number{
    display: flex;
    align-items: center;
    /* gap: 10px; */
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #D9D9D9;
    border-radius: 50px;
    width: 178px;
    padding: 9px 44px 9px 12px;
    position: absolute;
    bottom: 0;
    right: 5px;
    transform: translateY(65%);
}
.header .slides .slide_item .fixed_text .phone_number img{
    width: 30px;
    height: 30px;
    transform: translate(0%,0%);
    right: 4px;
    position: absolute;
}

.header .reserve_btn_wrapper {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,7px);
}
.header .reserve_btn_shadow {
    position: absolute;
    background-image: url("./images/reserve_button_shadow.svg");
    background-size: 100%;
    background-position: center;
    width: 264.75px;
    height: 210px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -87px);
    z-index: 3;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header .reserve_btn {
    cursor: pointer;
    border: 0;
    position: relative;
    background-color: transparent;
    width: 264.75px;
    height: 65px;
    z-index: 5;
    background-image: url("./images/reserve_button.svg");
    transition: .2s;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header .reserve_btn:hover {
    transform: scale(1.1);
}

.registration_and_about{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.registration_and_about::before{
    content: "";
    background-image: url("./images/Floating\ Logo.svg");
    width: 155.17px;
    height: 715.83px;
    background-size: 100%;
    background-position: center;
    position: absolute;
    left: 67px;
    top: 341.44px;
}
.registration_and_about .registration{
    padding: 100px 116px;
    display: flex;
    justify-content: center;
    gap: 80px;
    color: #D9D9D9;
}
.registration_and_about .registration .left{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 566px;
}
.registration_and_about .registration .left .title{
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}
.registration_and_about .registration .left .text{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}
.registration_and_about .registration .right{
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 634px;
}
.registration_and_about .registration .right .registration_step{
    height: 144px;
    font-family: "Space Grotesk", sans-serif;
    color: #D9D9D9;
}
.registration_and_about .registration .right .registration_step .title{
    display: flex;
    gap: 15px;
    align-items: flex-end;
    position: relative;
}
.registration_and_about .registration .right .registration_step .title .number{
    position: relative;
    background-color: #29292980;
    padding: 0 7px;
    border-radius: 8px;
    transform: skew(-20deg);
    width: 47px;
    height: 50px;
}
.registration_and_about .registration .right .registration_step .title .number p{
    font-weight: 700;
    font-size: 72px;
    line-height: 50px;
    letter-spacing: 0%;
    color: #009FE3;
    position: relative;
    transform: skew(20deg);
    position: absolute;
}
.registration_and_about .registration .right .registration_step .title> p{
    position: relative;
    background-color: #292929;
    border-radius: 8px;
    transform: skew(-20deg);
    display: flex;
    align-items: center;
    padding: 14px 0px 14px 25px;
    width: 100%;
}
.registration_and_about .registration .right .registration_step .title> p span{
    width: 434px;
    font-weight: 700;
    font-size: 24px;
    transform: skew(20deg);
}
.registration_and_about .registration .right .registration_step .content{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-left: 83px;
    margin-top: 8px;
    width: calc(434px - 83px);
}
.registration_and_about .registration .right .registration_step .qr{
    display: flex;
    gap: 15px;
    z-index: 10;
    position: absolute;
    top: 23px;
    right: 30.59px;
}
.registration_and_about .registration .right .registration_step .qr a{
    background-color: #E30613;
    color: #D9D9D9;
    text-decoration: none;
    border-radius: 8px;
    padding: 4px 8px;
    height: fit-content;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}
.registration_and_about .registration .right .registration_step .qr img{
    width: 128px;
    height: 128px;
}

.registration_and_about .about{
    padding: 0 116px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-end;
    justify-content: flex-end;
    color: #D9D9D9;
}
.registration_and_about .about .title{
    padding-left: 233px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.registration_and_about .about .title .left{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 578px;
}
.registration_and_about .about .title .left h1{
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #D9D9D9;
}
.registration_and_about .about .title .left p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;    
    color: #D9D9D9;
    width: 365px;
}
.registration_and_about .about .title .right{
    text-align: end;
    height: fit-content;
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #D9D9D9;
}
.registration_and_about .about .title .right img{
    width: 24px;
    height: 24px;
}

.registration_and_about .about .video{
    width: 1280px;
    height: 567px;
    position: relative;
}
.registration_and_about .about .video img{
    width: 100%;
    height: 100%;
    border-radius: 24px;
}
.registration_and_about .about .video button{
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    cursor: pointer;
}
.registration_and_about .about .video button img{
    width: 80px;
    height: 80px;
    border-radius: 12px;
}

.activities{
    padding: 100px 116px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.activities .heading{
    display: flex;
    justify-content: space-between;
    color: #D9D9D9;
}
.activities .heading h1{
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    text-transform: uppercase;
}
.activities .heading p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    gap: 24px;
    align-items: center;
}
.activities .heading p img{
    width: 32px;
    height: 16px;
}

.activities .content{
    display: flex;
    align-items: center;
    gap: 40px;
}
.activities .content .tabs{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #D9D9D9;
}
.activities .content .tabs .item{
    background-color: #D9D9D9;
    border-radius: 12px;
    transform: skew(-20deg);
    width: 460px;
    position: relative;
    transform: .2s;
    cursor: pointer;
}
.activities .content .tabs .item::after{
    position: absolute;
    content: "";
    width: 280px;
    height: 64px;
    background: linear-gradient(90deg, rgba(217, 217, 217, 0.2) 0%, #D9D9D9 100%);
    top: 0;
    border-radius: 12px 0 0 12px;
    left: 0;
}
.activities .content .tabs .item p{
    color: #292929;
    font-family: "Big Shoulders", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    text-align: right;
    text-transform: uppercase;
    width: 351.59px;
    position: absolute;
    top: 50%;
    right: 32.39px;
    transform: translateY(-50%) skew(20deg);
    z-index: 5;
}
.activities .content .tabs .item img{
    border-radius: 12px 0 0 12px;
}

.activities .content .tabs .item--active{
    background-color: #292929;
    border-radius: 12px;
    transform: skew(-20deg);
    width: 460px;
    position: relative;
    cursor: pointer;
}
.activities .content .tabs .item--active img{
    border-radius: 12px 0 0 12px;
}
.activities .content .tabs .item--active::before{
    position: absolute;
    content: "";
    width: 280px;
    height: 64px;
    background: linear-gradient(90deg, #29292933 0%, #292929 100%);
    top: 0;
    left: 0;
    border-radius: 12px 0 0 12px;
}
.activities .content .tabs .item--active p{
    color: #ffffff;
    font-family: "Big Shoulders", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    text-align: right;
    text-transform: uppercase;
    width: 351.59px;
    position: absolute;
    top: 50%;
    right: 32.39px;
    transform: translate(30px,-50%) skew(20deg);
    z-index: 5;
}
.activities .content .tabs .item--active::after{
    position: absolute;
    content: "";
    width: 70px;
    height: 64px;
    background-color: #292929;
    top: 0;
    right: -50px;
    transform: skew(20deg);
}

.activities .image{
    width: 780px;
    height: 518px;
    background-image: url("./images/activities_show.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 10;
}
.activities .image p{
    margin-left: 33px;
    margin-bottom: 24px;
    color: #D9D9D9;
    width: 366.49px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}
.activities .image button{
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 12px 24px;    
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #292929;
    transition: .2s;
    cursor: pointer;
    border: 0;
}
.activities .image button:hover{
    background-color: #373737;
    color: #D9D9D9;
}

.gifting{
    display: flex;
    background-color: #E30613;
    padding: 24px 105px 24px 0;
    border-radius: 24px;
    width: 1000px;
    height: 109px;
    white-space: nowrap;
    align-items: center;
    filter: url("./images/noise.png");
    position: relative;
}
.gifting::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 109px;
    border-radius: 24px;
    /* background-color: #009FE3; */
    background-image: url("./images/noise.png");
    opacity: 20%;
}
.gifting img{
    width: 220px;
    height: 220px;
    z-index: 5;
}
.gifting .text{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 2px;
    z-index: 5;
}
.gifting .text h1{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
}
.gifting .text p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}
.gifting button{
    padding: 12px 24px;
    background-color: #ffffff;
    border-radius: 12px;    
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    transform: translateX(50%);
    width: 115px;
    height: fit-content;
    z-index: 5;
    transition: .2s;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
}
.gifting button:hover{
    background-color: #373737;
    color: #D9D9D9;
}

.footer{
    padding: 80px 116px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #D9D9D9;
    width: 100%;
}
.footer .top{
    display: flex;
    gap: 300px;
    align-items: center;
}
.footer .top img{
    width: 200px;
    height: 95px;
    object-fit: contain;
}
.footer .top p{
    width: 300px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}
.footer .top ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}
.footer .top ul li{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.footer .bottom{
    display: flex;
    justify-content: space-between;
}
.footer .bottom .contact{
    background-color: #292929;
    display: flex;
    border-radius: 30px;
    padding: 4px 12px;
    gap: 12px;
    align-items: center;
    height: fit-content;
}
.footer .bottom .contact a{
    width: 32px;
    height: 32px;
}
.footer .bottom .contact img{
    width: 100%;
    height: 100%;
}
.footer .bottom .copyright_and_onTopBtn{
    display: flex;
    gap: 48px;
    align-items: center;
}
.footer .bottom .copyright_and_onTopBtn p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}
.footer .bottom .copyright_and_onTopBtn .button{
    border: 0;
    background-color: #292929;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .bottom .copyright_and_onTopBtn .button img{
    width: 12px;
    height: 6px;
}
.footer .bottom .copyright_and_onTopBtn .button:hover{
    background-color: #3d3d3d;
}
.footer .bottom .copyright_and_onTopBtn button img{
    width: 12px;
    height: 6px;
}

/* Animation Slider */
.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

@media (max-width: 992px) {
    .container{
        max-width: 992px;
        gap: 50px;
    }
    .header .slides{
        height: 430px;
    }
    .header .slides .slide_item::after{
        height: 430px;
    }
    .header .slides .slide_item .information{
        bottom: 25px;
        left: 24px;
    }
    .header .slides .slide_item .information .title{
       font-size: 60px; 
    }
    .header .slides .slide_item .information .text{
        flex-direction: column;
    }
    .header .slides .slide_item .information .text button{
        width: fit-content;
        padding: 10px 15px;
    }
    .header .slides .slide_item .information .text button p{
        font-size: 12px;
    }

    .header .slides .slide_item .fixed_text_wrapper{
        right: 24px;
        bottom: 25px;
    }
    .header .slides .slide_item .fixed_text_shadow{
        width: 150px;
        height: 120px;
    }
    .header .slides .slide_item .fixed_text{
        width: 230px;
        height: 100px;
    }
    .header .slides .slide_item .fixed_text img{
        width: 70px;
        height: 60px;
        transform: translate(-25px,-25px);
    }
    .header .slides .slide_item .fixed_text .phone_number{
        width: 105px;
        font-size: 10px;
        padding: 5px 4px 5px 7px;
        transform: translate(0%);
    }
    .header .slides .slide_item .fixed_text .phone_number img{
        width: 15px;
        height: 15px;
    }
    
    .header .reserve_btn_wrapper{
        transform: translate(-50%,22px);
    }
    .header .reserve_btn_shadow{
        width: 130px;
        height: 100px;
        transform: translate(-50%, -37px);
    }
    .header .reserve_btn{
        width: 140px;
        height: 50px;
    }
    .registration_and_about{
        justify-content: center;
        align-items: center;
    }
    .registration_and_about::before{
        background: transparent;
    }
    .registration_and_about .registration{
        flex-direction: column;
        padding: 100px 0;
    }
    .registration_and_about .about .title{
        padding-left: 0;
    }
    .registration_and_about .about .title .left{
        width: 100%;
    }
    .registration_and_about .about .title .left h1{
        font-size: 72px;
        /* position: absolute; */
        width: 100%;
    }
    .registration_and_about .about .title .right{
        position: absolute;
        bottom: 0;
        right: 10px;
    }
    .registration_and_about .about .video{
        width: 100%;
        height: 360px;
    }
    .registration_and_about .about .video button img{
        width: 50px;
        height: 50px;
    }

    .activities{
        padding: 100px 0;
    }
    .activities .heading p{
        gap: 10px;
        width: 200px;
    }
    .activities .content .tabs .item{
        width: 230px;
        border-radius: 12px;
        overflow: hidden;
    }
    .activities .content .tabs .item::after{
        width: 230px;
        height: 53px;
    }
    .activities .content .tabs .item--active{
        width: 200px;
    }
    .activities .content .tabs .item p{
        font-size: 20px;
        right: 10px;
    }
    .activities .content .tabs .item--active p{
        font-size: 20px;
        right: 10px;
    }
    .activities .content .tabs .item--active::after{
        width: 60px;
        height: 46px;
        right: -70px;
    }
    .activities .content .tabs .item--active::before{
        width: 230px;
        height: 46px;
    }
    .activities .image{
        width: 460px;
        height: 375px;
        background-size: cover;
    }
    .activities .image p{
        width: 230px;
        font-size: 14px;
    }
    .activities .image button{
        /* padding: 5px 15px; */
        border-radius: 0;
    }
    
    .gifting{
        width: 80%;
        /* gap: 10px; */
    }
    .gifting::after{
        width: 100%;
    }
    .gifting img{
        width: 120px;
        height: 120px;
        transform: scale(1.3);
    }
    .gifting .text{
        gap: 5px;
    }
    .gifting .text h1{
        font-size: 25px;
    }
    .gifting .text p{
        white-space:normal;
        text-align: center;
        font-size: 13px;
    }
    .gifting button{
        transform: translateX(50%);
    }

    .footer{
        padding: 100px 30px 40px;
    }
    .footer .top{
        gap: 0;
        justify-content: space-between;
    }
    .footer .top img{
        width: 120px;
        height: 75px;
    }
    .footer .top p{
        width: 250px;
    }
    .footer .bottom .contact{
        gap: 3px;
    }
    .footer .bottom .copyright_and_onTopBtn{
        gap: 24px;
    }
}

@media (max-width: 450px) {
    .container{
        max-width: 450px;
        gap: 50px;
    }

    .header .nav{
        padding: 10px 15px;
    }
    .header .nav .logo img{
        width: 87px;
        height: 40px;
    }
    .header .nav .right{
        gap: 15px;
    }
    .header .nav .right button{
        padding: 11px 9.5px;
    }
    .header .nav .right .language{
        width: 20px;
        height: 20px;
    }
    .header .nav .right .menu{
        width: 13px;
        height: 10px;
    }
    .header .slides{
        height: 270px;
    }
    .header .slides .slide_item::after{
        height: 270px;
    }
    .header .slides .slide_item .information{
        gap: 10px;
        bottom: 20px;
        left: 10px;
    }
    .header .slides .slide_item .information .title{
       font-size: 22px; 
    }
    .header .slides .slide_item .information .text{
        flex-direction: column;
        gap: 7px;
    }
    .header .slides .slide_item .information .text p{
        font-size: 10px;
        max-width: 200px;
    }
    .header .slides .slide_item .information .text button{
        width: fit-content;
        padding: 5px 10px;
    }
    .header .slides .slide_item .information .text button p{
        font-size: 10px;
    }
    .header .slides .slide_item .information .slide_dots{
        gap: 5px;
    }
    .header .slides .slide_item .information .slide_dots .dot{
        width: 8px;
        height: 8px;
    }
    .header .slides .slide_item .information .slide_dots .active::after{
        width: 10px;
        height: 10px;
    }
    .header .slides .slide_item .fixed_text_wrapper{
        right: 5px;
        bottom: 20px;
    }
    .header .slides .slide_item .fixed_text_shadow{
        width: 100px;
        height: 80px;
        top: -10px;
        left: 25px;
    }
    .header .slides .slide_item .fixed_text{
        width: 160px;
        height: 68px;
    }
    .header .slides .slide_item .fixed_text img{
        width: 50px;
        height: 40px;
        transform: translate(-18px,-17px);
    }
    .header .slides .slide_item .fixed_text .phone_number{
        width: fit-content;
        font-size: 6px;
        padding: 6px 24px 6px 7px;
        transform: translate(0%);
    }
    .header .slides .slide_item .fixed_text .phone_number img{
        width: 15px;
        height: 15px;
    }
    
    .header .reserve_btn_wrapper{
        transform: translate(-50%,22px);
    }
    .header .reserve_btn_shadow{
        width: 100px;
        height: 70px;
        transform: translate(-50%, -10px);
    }
    .header .reserve_btn{
        width: 95px;
        height: 50px;
    }
    .registration_and_about{
        justify-content: center;
        align-items: center;
    }
    .registration_and_about::before{
        background: transparent;
    }
    .registration_and_about .registration{
        flex-direction: column;
        padding: 0;
        gap: 40px;
    }
    .registration_and_about .registration .left{
        width: fit-content;
        padding: 0 20px;
    }
    .registration_and_about .registration .left .title{
        font-size: 30px;
        width: fit-content;
    }
    .registration_and_about .registration .left .text{
        font-size: 12px;
        width: 80%;
    }
    .registration_and_about .registration .right{
        width: 100%;
    }
    .registration_and_about .registration .right .registration_step{
        height: 70px;
        padding: 0 20px;
    }
    .registration_and_about .registration .right .registration_step .title{
        gap: 12px;
    }
    .registration_and_about .registration .right .registration_step .title .number{
        width: 30px;
        height: 40px;
        border-radius: 5px;
    }
    .registration_and_about .registration .right .registration_step .title .number p{
        font-size: 46px;
    }
    .registration_and_about .registration .right .registration_step .title> p{
        padding: 10px;
        width: 100%;
        border-radius: 5px;
    }
    .registration_and_about .registration .right .registration_step .title> p span{
        width: 80%;
        font-size: 15px;
    }
    .registration_and_about .registration .right .registration_step .content{
        font-size: 10px;
        margin-left: 40px;
        width: 270px;
    }
    .registration_and_about .registration .right .registration_step .qr{
        right: 10px;
        top: 12px;
    }
    .registration_and_about .registration .right .registration_step .qr a{
        font-size: 11px;
    }
    .registration_and_about .registration .right .registration_step .qr img{
        width: 50px;
        height: 50px;
    }
    .registration_and_about .about{
        padding: 0;
        align-items: center;
        gap: 20px;
    }
    .registration_and_about .about .title{
        padding-left: 0;
    }
    .registration_and_about .about .title .left{
        width: 100%;
        justify-content: center;
        padding: 0 20px;
        gap: 10px;
    }
    .registration_and_about .about .title .left h1{
        font-size: 30px;
        /* position: absolute; */
        width: 100%;
    }
    .registration_and_about .about .title .left p{
        font-size: 12px;
        width: 230px;
    }
    .registration_and_about .about .title .right{
        position: absolute;
        bottom: 0;
        right: 10px;
        font-size: 10px;
        gap: 5px;
    }
    .registration_and_about .about .video{
        width: 90%;
        height: 260px;
    }
    .registration_and_about .about .video img{
        border-radius: 8px;
    }
    .registration_and_about .about .video button img{
        width: 40px;
        height: 40px;
    }

    .activities{
        width: 100%;
        padding: 0;
        gap: 30px;
    }
    .activities .heading{
        flex-direction: column;
        gap: 10px;
        padding-left: 10px;
    }
    .activities .heading h1{
        font-size: 30px;
    }
    .activities .heading p{
        gap: 10px;
        width: 100%;
    }

    .activities .content{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    .activities .content .tabs{
        width: 100%;
        align-items: center;
    }
    .activities .content .tabs .item{
        width: 90%;
        height: 40px;
        border-radius: 5px;
        transform: skew(0deg);
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    .activities .content .tabs .item::after{
        width: 280px;
        height: 40px;
    }
    .activities .content .tabs .item--active{
        width: 200px;
    }
    .activities .content .tabs .item p{
        font-size: 20px;
        right: 10px;
        transform: skew(0deg) translateY(-50%);
    }
    .activities .content .tabs .item--active{
        width: 90%;
        height: 40px;
        border-radius: 5px;
        transform: skew(0deg);
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    .activities .content .tabs .item--active p{
        font-size: 20px;
        right: 10px;
        transform: skew(0deg) translateY(-50%);
    }
    .activities .content .tabs .item--active::after{
        display: none;
    }
    .activities .content .tabs .item--active::before{
        width: 280px;
        height: 40px;
    }
    .activities .image{
        width: 95%;
        height: 260px;
        background-size: cover;
    }
    .activities .image p{
        width: 150px;
        font-size: 14px;
        margin-left: 13px;
        margin-bottom: 10px;
        font-size: 10px;
    }
    .activities .image button{
        /* padding: 5px 15px; */
        border-radius: 12px;
        font-size: 10px;
        padding: 7px;
    }
    
    .gifting{
        width: 90%;
        /* gap: 10px; */
        padding: 10px 50px 10px 0;
        height: fit-content;
        border-radius: 7px;
    }
    .gifting::after{
        width: 100%;
        height: 70px;
        border-radius: 7px;
    }
    .gifting img{
        width: 50px;
        height: 50px;
        transform: scale(1.4);
    }
    .gifting .text{
        gap: 5px;
    }
    .gifting .text h1{
        font-size: 14px;
    }
    .gifting .text p{
        white-space:normal;
        text-align: center;
        font-size: 10px;
    }
    .gifting button{
        transform: translateX(30%);
        font-size: 10px;
        padding: 8px;
        width: fit-content;
        border-radius: 5px;
    }

    .footer{
        padding: 0 20px 20px;
    }
    .footer .top{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 5px;
        align-items: flex-end;
    }
    .footer .top img{
        width: 90px;
        height: 55px;
    }
    .footer .top p{
        width: 100%;
        font-size: 10px;
    }
    .footer .top ul{
        gap: 5px;
        grid-column: 2; 
        grid-row: 1;
    }
    .footer .top ul li{
        font-size: 10px;
    }
    .footer .bottom .contact{
        gap: 3px;
    }
    .footer .bottom .contact a{
        width: 20px;
        height: 20px;
    }
    .footer .bottom .contact img{
        width: 20px;
        height: 20px;
    }
    .footer .bottom .copyright_and_onTopBtn{
        gap: 10px;
    }
    .footer .bottom .copyright_and_onTopBtn p{
        font-size: 10px;
    }
    .footer .bottom .copyright_and_onTopBtn .button{
        width: 30px;
        height: 30px;
    }
}